<div class="list row">
    <div class="col-md-10">
        <div class="input-group mb-1">
            <mat-form-field class="example-full-width" style="width:140px !important">
                <input matInput [matDatepicker]="startPicker" [(ngModel)]="beginDate" placeholder="From date">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width:140px !important">
                <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" placeholder="To date">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="financialReportDownload()"
                    style="height:40px !important">Financial Report Download</button>
            </div>
        </div>
    </div>
    <div *ngIf="message" style="color:blue">{{message}}</div>
</div>