.edit-form {
    max-width: 600px;
    margin: auto;
}

.table-row {
    height: 40px !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
}