<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="http://akuc.org/" class="navbar-brand">
      <img src="assets/image/akuc-LOGO.png" style="width: 30px;" /> 알파한인연합교회
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showUser">
        <a routerLink="members" class="nav-link"><strong>Members</strong></a>
      </li>
      <li class="nav-item" *ngIf="showMembershipMenu">
        <a routerLink="addMember" class="nav-link"><strong>New Member</strong></a>
      </li>
      <li class="nav-item" *ngIf="showTreasurerMenu">
        <a routerLink="numbers" class="nav-link"><strong>Offering Number</strong></a>
      </li>
      <li class="nav-item" *ngIf="showAdminMenu">
        <a routerLink="budgets" class="nav-link"><strong>Budget</strong></a>
      </li>
      <li class="nav-item" *ngIf="showTreasurerMenu">
        <a routerLink="offerings" class="nav-link"><strong>Offering Entry</strong></a>
      </li>
      <li class="nav-item" *ngIf="showTreasurerMenu">
        <a routerLink="expenditures" class="nav-link"><strong>Expenditure</strong></a>
      </li>
      <li class="nav-item" *ngIf="showTreasurerMenu">
        <a routerLink="addExpenditure" class="nav-link"><strong>New Expenditure</strong></a>
      </li>
      <li class="nav-item" *ngIf="showMembershipMenu">
        <a routerLink="addAttendance" class="nav-link"><strong>Attendance</strong></a>
      </li>    
      <li class="nav-item" *ngIf="showAdminMenu OR showMembershipMenu OR showTreasurerMenu">
        <a routerLink="reports" class="nav-link"><strong>Report</strong></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" >Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/members/{{ id }}" class="nav-link" >{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>

  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>