.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.ngx-pagination {
  padding-inline-start: 0 !important;
}

.table-row {
  height: 40px !important;
}

table {
  width: 100%;
}

.md-unstyled-image img{
  max-width: 100%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
}
