<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <mat-form-field class="example-full-width" style="width:140px; margin-right:10px !important">
                <input matInput [matDatepicker]="sundayPicker"
                    placeholder="Choose a Sunday" [(ngModel)]="sunday" (dateChange)="retrieve()">
                <mat-datepicker-toggle matSuffix [for]="sundayPicker"></mat-datepicker-toggle>
                <mat-datepicker #sundayPicker></mat-datepicker>
            </mat-form-field>

            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" style="height:40px !important"
                    (click)="retrieve()">
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
            (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>

    <div class="col-md-7">
        <table>
            <tr>
                <td>
                    <h4>Sunday Attendance</h4>
                </td>
                <td align="right">
                    Items per Page:
                    <select (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="message">
                <td colspan="2" style="color:blue">{{message}}</td>
            </tr>
        </table>

        <!-- List start -->
        <table mat-table [dataSource]="members" class="mat-elevation-z2">
            <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <section id="name{{i}}" name="name{{i}}">
                        <mat-checkbox id="attendance{{i}}" name="attendance{{i}}" [(ngModel)]="element.attendance"
                            (change)="update(element)">
                            {{element.name}}
                        </mat-checkbox>
                    </section>
                </td>
            </ng-container>

            <ng-container matColumnDef="spouse">
                <th mat-header-cell *matHeaderCellDef> Spouse </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <section id="spouse{{i}}" name="spouse{{i}}">
                        <mat-checkbox *ngIf="element.spouseName" id="spouseAttendance{{i}}" name="spouseAttendance{{i}}"
                            [(ngModel)]="element.spouseAttendance" (change)="update(element)">
                            {{element.spouseName}}
                        </mat-checkbox>
                    </section>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns  | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
                };
                let i = index">
            </tr>
        </table>
    </div>

    <div class="col-md-5">
        <h4><b>Attendance count</b></h4>
        <!-- List start -->
        <table class="mat-elevation-z2">
            <tr>
                <td>Attendance total</td>
                <td>{{attendance.adult + attendance.childrun}}</td>
            </tr>
            <tr>
                <td>Audult</td>
                <td>{{attendance.adult}}</td>
            </tr>
            <tr>
                <td>Childrun</td>
                <td>{{attendance.childrun}}</td>
            </tr>
        </table>

        <table mat-table [dataSource]="visitors" class="mat-elevation-z2">
            <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

            <!-- Number Column -->
            <ng-container matColumnDef="visitor">
                <th mat-header-cell *matHeaderCellDef> Visitor name </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <input #visitorName{{i}} required matInput [(ngModel)]="element.visitorName" type="text"
                        (change)="update(element)" placeholder="Visitor name">
                </td>
            </ng-container>

            <ng-container matColumnDef="kid">
                <th mat-header-cell *matHeaderCellDef> Kid? </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <section id="kid{{i}}" name="kid{{i}}">
                        <mat-checkbox id="kidAttendance{{i}}" name="kidAttendance{{i}}"
                            [(ngModel)]="element.kid" (change)="update(element)">
                        </mat-checkbox>
                    </section>
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    Action <fa-icon [icon]="plusSquare" size="lg" (click)="addRow()"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let element" style="text-align: center; vertical-align: middle;">
                    <fa-icon [icon]="trashAlt" size="lg" (click)="deleteRow(element)"></fa-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedVisitorColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: displayedVisitorColumns;"></tr>
        </table>
    </div>

</div>